.btnGenerate {
    margin-left: 40%; 
}

table{
         
    top: 50%;
    left: 50%; 
    text-align: center;  
    margin-top: 0.5vh;                      
    margin-left: 15%;  
   color: white;
    box-shadow: -1px 1px 50px 10px rgb(0, 0, 0); 
    border-radius: 10px 0px 20px 0px;
    opacity: 97%;
    background-color: rgb(32, 93, 95);
}

.divRoom{
    color: white;
    box-shadow: -1px 1px 50px 10px rgb(0, 0, 0); 
    border-radius: 10px 0px 20px 0px;
    opacity: 97%;
    background-color: rgb(32, 93, 95);
}

.search{
    background-color:rgb(199, 248, 250);
}

h3{
    text-align: center;
}