<header>
    <nav class="navbar fixed-top navbar navbar-expand-lg ">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0" >
          <button class="btn btn-danger my-2 my-sm-0"(click)="logout()">Logout</button>
        </form>
        
      </div>
    </nav>
  </header>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registry</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="box" method="post">
                    <img id="profile-img" class="rounded-circle profile-img-card"
                        src="https://www.lacasaelpozo.com/images/concours/logo-bingo.png" />                   
                    <p class="text-muted"> Create your room and have fun!</p>
                    <input type="text" id="name" name="name" placeholder="Enter the name of your game"
                    [(ngModel)]="room.name" required autofocus >
                    <input type="submit" name="" (click)="createRoom()"value="Create URL" > 
                    <label> {{ error }}</label>

                    <table class="table">
                        <tr>
                          <th>Name</th>
                          <th>Url</th>
                          <th>Options</th>
                        </tr>
                        <tr *ngFor="let room of rooms">
                          <th>{{room.name}}</th>
                          <th>{{room.url}}</th>
                          <th>
                            <button class="btn btn-danger" (click)="deleteRoom(room)"><i
                              class="fas fa-trash"></i></button>
                            <button class="btn btn-success" (click)="openRoom(room)"><i class="fas fa-share-square">
                            </i></button>
                          </th>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
    integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
    


</html>

